* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
    font-size: 12px;
}

body {
    background-color: #33353A;
    margin: 0;
}

main {
    display: grid;
    grid-template-columns: 440px 440px 440px;
    width: 95%;
    margin: 0 auto;
    gap: 18px;
    justify-content: center;
    margin-top: 30px;
    padding-bottom: 20px;
}

.builider-section {
    background-color: #E53E3E;
    border-bottom-left-radius: 45px;
    padding: 10px 45px;
    margin: 0px 0px 0px 30px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
}

.builider-section h1 {
    margin: 0;
    color: white;
    font-size: 20px;
}

button {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px black;
}

button:hover {
    background-color: lightgreen;
}

label {
    display: block;
    margin-top: 5px;
    margin-bottom: 5px;
    color: black;
}

input {
    width: 100%;
    padding: 10px;
    border: 1px solid white;
    border-radius: 5px;
    box-sizing: border-box;
}

.type-container {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    margin: 20px;
    flex-wrap: wrap;
}

.type-category {
    flex: 1;
    background-color: white;
    border-radius: 12px;
    padding: 10px 20px 10px 20px;
    min-width: 200px;
    box-shadow: 0 4px 6px black;
    color: #E53E3E;
}

.type-category h2,
.type-category h3,
.type-category h4,
.type-category h5{
    margin-top: 0px;
    color: #E53E3E;
    font-size: 15px;
    border-bottom: 1px solid black;
    padding-bottom: 5px;
}

.type_line {
    display: flex;
    flex-wrap: wrap;
    padding: 5px;
    gap: 5px;
    overflow: auto;
}

.type-against {
    display: flex;
    flex-wrap: wrap;
    border-radius: 10px;
    padding: 0;
    margin: 3px;
}

.type_image {
    width:75px;
    object-fit: contain;
    padding: 1px;
}

.type-against p {
    font-size: 15px;
    color: black;
    font-weight: bold;
}

.poke_type_container{
    display: flex;
    height:30px;
    gap:4px;
}

.card {
    display: flex;
    flex-direction: column;
    background-color: white;
    padding: 10px 20px 10px 20px;
    border-radius: 10px;
    box-shadow: 0 4px 6px black;
    height: auto;
}

.poke_image {
    height: 100%;
    width: 150px;
    border: 1px solid black;
    border-radius: 8px;
    background-color:#fafafa;
}

.poke_info {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    width: 100%;
}

.move_dropdown {
    padding: 6px;
    border-radius: 5px;
    border: 1px solid black;
    overflow:visible;
    position:relative;
}

select {
    padding: 5px;
    font-size: 8px;
    border-radius: 5px;
}

option {
    font-size: 8px;
}

.image-move-row {
    display: flex;
    height: 150px;
    justify-content: space-between;
    margin-top: 10px;
}

.moves-box {
    border:solid 1px #4C423E;
    border-radius: 10px;
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    gap: 12px;
    width: 200px;
    height: 130px;
}

input[type="text"] {
    border: 1px solid black;
}

.nickname {
    width: 100%;
    padding: 10px;
}

.list{
    display: none;   
    position:absolute;
    background-color:white;
    border-radius: 8px;
    max-height: 400px;        
    z-index:100;
    width:70%;
    overflow-y: auto;
    list-style-type: none;
    padding-left:0;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
}

.list_data{
    text-decoration: none;
    color:rgb(18, 17, 17);
    display: flex;                      
    padding: 8px 12px;          
    gap: 10px; 
    align-items: center;
    margin-right: 0px;
}

.list:empty{
    display:none;
}

.list_data:hover {
    background-color: #f0f0f0;
    border-radius: 10px;
}

.pokemon-icon {
    width: 70px;
    height: 70px;
    margin-right: 10px;
    object-fit: contain;

}

.search-container{
    position:relative;
}

.sprite{
    width:100%;
    height:100%;
    background-color:#E6E6E6;
    border-radius:8px;
}

.normal-move{
    color:white;
    background-color:#999999;
}

.fighting-move{
    color:white;
    background-color:#f1a73c;
}

.flying-move{
    color:white;
    background-color:#aac2f0;
}

.poison-move{
    color:white;
    background-color:#7a589e;
}

.ground-move{
    color:white;
    background-color:#a37d3f;
}

.rock-move{
    color:white;
    background-color:#baba91;
}

.bug-move{
    color:white;
    background-color:#a2a63a;
}

.ghost-move{
    color:white;
    background-color:#69486e;
}

.steel-move{
    color:white;
    background-color:#7aaed1;
}

.fire-move{
    background-color: #ff612c;
    color:white;
}

.water-move{
    color:white;
    background-color:#578bc9;
}

.grass-move{
    color:white;
    background-color:#6bb742;
}

.electric-move{
    color:white;
    background-color:#f9dc4b;
}

.psychic-move{
    color:white;
    background-color:#ec7a7a;
}

.ice-move{
    color:white;
    background-color:#71b9e8;
}

.dragon-move{
    color:white;
    background-color:#5160aa;
}

.dark-move{
    color:white;
    background-color:#4e4841;
}

.fairy-move{
    color:white;
    background-color:#e0b8d6;
}

#loading-screen{
        position: fixed;
        top: 0; left: 0;
        width: 100%; height: 100%;
        background: rgba(255, 255, 255, 0.9);
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        z-index: 9999;
}
.spinner {
    width: 50px;
    height: 50px;
    border: 6px solid #ccc;
    border-top-color: #3b82f6; 
    border-radius: 50%;
    animation: spin 1s linear infinite;
}

@keyframes spin {
    to { transform: rotate(360deg); }
}