* {
    font-family: "Press Start 2P", system-ui;
    font-weight: 400;
    font-style: normal;
}

main {
    margin: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background-color: #33353A;
    margin: 0;
    color: black;
}

nav {
    background-color: #E53E3E;
    color: white;
    padding: 15px 45px;
    margin: 0 0 30px 30px;
    font-size: 20px;
    font-weight: bold;
    border-bottom-left-radius: 45px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.1);
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 30px;
}

nav h1 {
    margin: 0;
    flex-grow: 1;
    text-align: left;
    font-size: 20px;
}

h1 {
    font-size: 20px;
    margin-bottom: 10px;
}

.new-team-btn {
    background-color: green;
    color: white;
    border: none;
    padding: 10px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 4px 6px black;
}

button {
    background-color: green;
    color: white;
    margin: 5px;
    border: none;
    padding: 5px;
    border-radius: 5px;
    font-size: 15px;
    margin-left: 10px;
    cursor: pointer;
}

button:hover {
    background-color: rgb(139, 204, 226);
}

.saved-teams {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 80px;
    max-width: 1000px;
    margin: auto;
}

.team-card {
    background-color: white;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 250px;
    max-width: 250px;
    text-align: center;
}

.pokemon-imagines {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 5px;
    margin-bottom: 10px;
}

.poke-imagine {
    background-color: #ddd;
    width: 80px;
    height: 80px;
    border-radius: 5px;
}

img {
    width: 80px;
}

.edit-delete-buttons {
    margin-top: 10px;
}

.view-team-btn {
    width: 90%;
    background-color: blue;
    margin-bottom: 10px;
    padding: 12px;
    margin-bottom: 10px;
    border-radius: 5px;
    font-size: 15px;
}

.edit-btn,
.delete-btn {
    background-color: green;
}

.edit-btn:hover,
.delete-btn:hover {
    background-color: lightgreen;
}